<div [@routerTransition]>
<div class="container-fluid con">
  <div class="form-group">
    <label >Exam Name</label>
    <input type="form-text" class="form-control" id="exampleInputEmail1" placeholder="Enter Name">
    
  </div>
 
<div class="dropdown">
  <label >Exam Location</label><br>
  <button class="btn btn-primary">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Nagpur</a>
    <a href="#">Mumbai</a>
    <a href="#">Pune</a>
  </div>

</div>
<br>
<div style="float: right;">
  <button type="submit" class="btn btn-primary">Add</button>
</div>
</div>
</div>